rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /userProfiles/{document=**} {
      allow read : if resource.id == request.auth.uid;
      allow write : if resource.id == request.auth.uid;
      allow create: if !exists(/databases/$(database)/documents/userProfiles/$(request.auth.uid));
    }
    match /{document=**} {
      allow read, write: if false;
    }
  }
}